.home {
    width: 977px;
    flex: 1 0 auto;
    margin: 60px auto 25px;
  
  
    &--h1 {
      font-size: 30px;
      text-decoration: none;
      margin: 60px auto 25px;
      padding-left: 16px;
    }
  }
  
  