@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #FAFBFC;
  padding: 0 0;
  margin-bottom: 0;
}

#app {
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

@import "components/footer";
@import "components/header";
@import "components/home";
@import "components/accordion";
@import "components/datepicker";
@import "components/calendar";
@import "components/contacts";

